flask
scrapy
pony
PyMySQL
py-pretty
pycrypto
elasticsearch>=6.0.0,<7.0.0
elasticsearch-dsl>=6.0.0,<7.0.0
python-dateutil
Twisted
PySocks
numpy
scipy
scikit-learn
tabulate
langdetect
pycountry
networkx
python-memcached
pillow
werkzeug==3.0.1
timeout-decorator
bitcoin
markupsafe==2.0.1
requests>=2.32.4 # not directly required, pinned by Snyk to avoid a vulnerability
